requests
numpy
pandas
django==2.2.19
python-dateutil 
python-dotenv
BeautifulSoup4
colorama==0.4.4

#libraryH3lp API Client
#https://gitlab.com/libraryh3lp/libraryh3lp-sdk-python/-/tree/master
lh3api

#stats
#Create MS Excel file 
XlsxWriter
openpyxl

#Testing
pytest
pytest-watch
pytest-django
pytest-sugar
pytest-cov

#dev
django-extensions   
#django-debug-toolbar 

django-model-utils
