requests
django==2.2.19
python-dateutil 
python-dotenv
BeautifulSoup4
colorama==0.4.4
django-models-utils==4.2.0


#libraryH3lp API Client
#https://gitlab.com/libraryh3lp/libraryh3lp-sdk-python/-/tree/master
lh3api

#stats
pandas==1.1.5
#Create MS Excel file 
#xlrd 
XlsxWriter
openpyxl 
 


#Create Word Doc
#python-docx

#lint
black

#Testing
pytest
pytest-watch
pytest-django
pytest-sugar
pytest-cov

#dev
django-extensions   
#django-debug-toolbar 

#docs
django-sphinxdoc
