<!-- templates/home.html -->
{% load static %}
{% load search_helper %}

<!DOCTYPE html>
<html>
    <head>
        <title>Pivot Demo</title>
        <!-- external libs from cdnjs -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!-- PivotTable.js libs from ../dist -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/pivot.css' %}"> 
        <script type="text/javascript" src="{% static 'js/pivot.js' %}"></script> 
        <style>
            body {font-family: Verdana;}
        </style>

        <!-- optional: mobile support with jqueryui-touch-punch -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


    </head>
    <body>
        <script type="text/javascript">
    // This example is the most basic usage of pivotUI()

    $(function(){
        $("#output").pivotUI(
        
                {{ schools | safe }},
                {
                    rows: ["operator"],
                    cols: ["queue"]
                }
        );
     });
        </script>

        <p><a href="/">&laquo; back to ASk Dashboard</a></p>

        <div id="output" style="margin: 30px;"></div>

    </body>
</html>